[submodule "doitlive"]
	path = doitlive
	url = git@github.com:zbanks/doitlive
[submodule "grassroots"]
	path = grassroots
	url = git@github.com:zbanks/grassroots
[submodule "nanokontrol"]
	path = nanokontrol
	url = git@github.com:zbanks/nanokontrol
